@model User

<div class="row">
    <div class="col-md-2">
        <div class="bg-white p-2">
            <img src="/img/@Model.Image" class="img-fluid" alt="">
        </div>
    </div>

    <div class="col-md-10">
        <div class="bg-white p-4">
            <h4>
                @Model.Name
            </h4>
            <hr>
            <div id="posts">
                <h4 class="my-3">
                    Yayınlanan Postlar
                </h4>
                <ul class="list-group">
                    @foreach (var post in @Model.posts)
                    {
                        <h5>
                            <li class="list-group-item"> <i class="bi bi-caret-right-fill"></i><a
                                    href="/posts/details/@post.Url"> @post.Title</a></li>
                        </h5>
                    }
                </ul>
                <div id="comments">
                    <h5 class="my-3"> Yorumlar</h5>
                    <ul class="list-group">
                        @foreach (var comment in @Model.comments)
                        {
                            <h5>
                                <li class="list-group-item">
                                    <div class="d-flex">
                                       <i class="bi bi-card-text me-1"></i> <a href="/posts/details/@comment.post.Url"><strong>@comment.post.Title</strong></a> 
                                        <span class="text-muted ms-2">@comment.PublishedOn.ToString("d")</span>
                                    </div>
                                 <i class="bi bi-chat-right-text me-1"></i> <span class="mt-2">@comment.Text</span>
                                </li>
                            </h5>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>